:root {
  --bs-body-bg: rgb(255, 243, 222);
  --bs-body-color: rgb(59, 59, 59);
  --bs-emphasis-color: #fff;
  --bs-secondary-color: rgba(59, 59, 59, 0.75);
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  min-height: 100vh;
}

.custom-navbar {
  background-color: var(--bs-body-color);
}

.custom-navbar .nav-link {
  color: #fff3de;
}

.custom-navbar .nav-link:hover {
  color: #ffffff;
}

.card {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
}

.btn {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  border-color: var(--bs-body-color) !important;
}

.btn:hover {
  background-color: var(--bs-body-color) !important;
  color: var(--bs-body-bg) !important;
  border-color: var(--bs-body-bg) !important;
}