{% extends "restaurant/base.html" %}
{% load my_tags %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-6">История ресторана</h1>
</div>
{% endblock %}
{% block content %}
<div class="px-3 pt-md-3 mx-auto text-center">
    <h3> Как рестораны Italy за 10 лет превратились в сверхуспешную сеть в Петербурге и Москве</h3>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">

            <p class="lead">Первый ресторан Italy на Большом проспекте Петроградской стороны открыли Михаил Соколов и
                Тимур Дмитриев в 2010 году, превратив свою компанию в гастроимперию. Сегодня под этим брендом работает 5
                одноименных проектов в Петербурге и один — в Москве.</p>
            <p class="lead">
                Михаил Соколов и Тимур Дмитриев решили запустить своей первый проект Italy на Большом проспекте
                Петроградской стороны в 2010 году, вложив в него все свои знания об итальянской гастрономии и опыт,
                который был накоплен ими за пять лет погружения в ресторанную индустрию в Италии и в России.</p>
            <p class="lead">
                Михаил в 18 лет уехал на Аппенинский полуостров: начинал помощником в ресторане Сан-Марино, потом
                отправился в Милан, затем– в Пьемонт, после – в Альпы на горнолыжный курорт Passo Del Tonale, где
                работал на кухнях четырехзвездочных отелей.
            </p>
            <p class="lead">
                Тимур, еще учась в ФИНЭКе, подрабатывал официантом, в том числе на каникулах в США. После вуза стал
                заместителем генерального управляющего в одном из ресторанов Петербурга: там он и познакомился с
                Михаилом, в родном Петербурге ставшим шеф-поваром.
            </p>
            <p class="lead">
                Сразу после старта на дуэт обратили внимание инвесторы, которые приходили с предложениями открыть больше
                Italy.

                Практически каждый день Михаила и Тимура проходил следующим образом: с утра они смотрели помещения,
                потом снимали пиджаки и помогали официантам разносить блюда. За десять лет существования бренда тандем
                открыл 6 Italy.
            </p>
        </div>
        <div class="col">
            <img src="{{ '/owners.jpg'|media_filter }}" class="d-block w-100" alt="Основатели">
        </div>
    </div>
</div>
<div class=" pt-md-3 mx-auto text-center">
    <h3> Миссия и ценности </h3>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col mt-2">
            <img src="{{ '/seafood.png'|media_filter }}" class="d-block w-100" alt="Морепродукты">
        </div>
        <div class="col">

            <p class="lead">Все заведения Italy объединяет то, что они продвигают культуру итальянского застолья и
                проведения досуга в кругу семьи, друзей и близких.</p>
            <p class="lead">
                В меню — самые популярные блюда Италии, представленные в современном исполнении. Каждый день здесь
                вручную готовят домашнюю пасту, пиццу и равиоли, используя муку из твердых сортов пшеницы, а также
                классические итальянские десерты и напитки. Винную карту для Italy составила София Брокалья —
                бренд-сомелье из Италии.</p>
            <p class="lead">
                В рамках десятилетия во всех Italy ввели новое меню с морепродуктами.
            </p>
            <p class="lead">В ноябре в каждом ресторане можно попробовать специальные блюда от бренд-шефа </p>

        </div>

    </div>
</div>
<div class=" pt-md-3 mx-auto text-center">
    <h3> Команда </h3>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="card-group">
            <div class="card mb-3" style="max-width: 540px; background-color: white; color: black">
                <div class="row g-0">
                    <div class="col-md-4 p-2">
                        <img src="{{ '/timur.jpg'|media_filter }}" class="img-fluid rounded" alt="Тимур Дмитриев">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Тимур Дмитриев</h5>
                            <h6 class="card-title">Сооснователь Italy</h6>
                            <p class="card-text" style="font-style: italic">Для себя мы выбрали четкую стратегию
                                позиционирования, поставив гастрономию и вкус
                                на первое место, благодаря чему мы не потеряли гостей, ведь они не почувствовали
                                изменений ни в
                                качестве блюд, ни в цене.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px; background-color: white; color: black">
                <div class="row g-0">
                    <div class="col-md-4 p-2">
                        <img src="{{ '/mihail.jpg'|media_filter }}" class="img-fluid rounded" alt="Тимур Дмитриев">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Михаил Соколов</h5>
                            <h6 class="card-title">Сооснователь Italy</h6>
                            <p class="card-text" style="font-style: italic">Для меня главное — создавать места, в
                                которых реально круто. Я считаю себя экспертом с определенным опытом, и мне нравится
                                открывать рестораны, где вкусно, классно и комфортно. Пускай их будет один или два, но
                                они будут идеальными.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px; background-color: white; color: black">
                <div class="row g-0">
                    <div class="col-md-4 p-2">
                        <img src="{{ '/evgeniy.jpeg'|media_filter }}" class="img-fluid rounded" alt="Тимур Дмитриев">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Евгений Энгельке</h5>
                            <h6 class="card-title">Бренд-шеф ресторанов Italy</h6>
                            <p class="card-text" style="font-style: italic">В ресторанах я получаю удовольствие от
                                всего, что делаю: придумываю концепции блюд, общаюсь с творческими людьми, любимой
                                командой и, конечно, много готовлю. За десять лет мы сформировали потрясающую команду
                                профессионалов на кухне. Работать в коллективе, в котором тебе комфортно, с людьми,
                                которые тебя поддерживают, — это самое главное! Именно в Italy я обрел такое окружение и
                                благодарен каждому.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}