{% load my_tags %}
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarNavAltMarkup">
     <a class="navbar-brand" href="#" style="padding: 0;">
        <img src="{{ 'logo_restaurant.svg'|media_filter }}"
             alt="Restaurant Logo"
             style="height: 40px; width: auto; display: block;">
      </a>
      <div class="navbar-nav">
        <a class="nav-link" href="#">Главная</a>
        <a class="nav-link" href="#">О ресторане</a>
        <a class="nav-link" href="#">Забронировать столик</a>

      </div>
    </div>
  </div>
</nav>
